<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>title</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/npm.js" type="text/javascript"></script>
    <script src="/static/js/vue.min.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation" v-cloak>
        <div class="container-fluid">
            <p class="navbar-text" style="width: 10px;"></p>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">大规模预训练对话平台</a>
            </div>
            <div>
                {% block nav_tabs %}
                {% endblock %}
            </div>
            <p class="navbar-text navbar-right" style="width: 30px;"></p>
            <form action="/logout">
                <button type="submit" class="btn btn-default navbar-btn navbar-right">
                    退出登录
                </button>
            </form>
            <p id="user_login" class="navbar-text navbar-right" style="margin-right: 20px;">当前用户：{{data.username}}</p>
        </div>
    </nav>
    <div id="content" style="border: 1px solid wight; width: 1000px; margin:0 auto; display: flex" v-cloak>
        <div style="border: 1px solid gray; width: 40%;height: 600px; padding: 5px; overflow-y: auto">
            {% block left_content %}
            {% endblock %}
        </div>
        <div style="border: 1px solid wight; width: 60%;height: 600px;">
            <div id="chat_area" style="width: 95%; margin-left: 2%; height: 70%; background-color: lightgray; overflow-y:auto">
                <div v-if="messages.length == 0" class="bubble_div">
                    <div style="height: 20px; text-align: center; margin-bottom: 10px; margin-top: 10px">
                        <font style="color: gray; font-size: 15px"> 欢迎使用，请输入你的问题 </font>
                    </div>
                </div>
                <div v-for="message, message_idx in messages" class="bubble_div">
                    <div v-if="message.role == 'user'" class="user_bubble">
                        <div class="user_message"><p>{message.message}</p></div>
                        <img class="user_img" :src="'/static/imgs/' + message.name + '.png'" :alt="message.role">
                    </div>
                    <div v-if="message.role == 'bot'" class="bot_bubble">
                        <div style="width: 100%; display: flex">
                            <img v-if="mode != 'multi'" class="bot_img" :src="'/static/imgs/' + message.name + '.png'" :alt="message.role" :title="message.name">
                            <img v-if="mode == 'multi'" class="bot_img" :src="'/static/imgs/turing.png'" :alt="message.role" title="多模型融合">
                            <div class="bot_message"><p>{message.message}</p>
                                <p>
                                    <span v-if="messages[message_idx].label == 'bot'" style='color: red; margin-left: 10px;'>&#9785像机器人</span> 
                                    <span v-if="messages[message_idx].label == 'human'" style='color: green; margin-left: 10px;'>&#9786像人类</span>
                                </p>
                            </div>
                        </div>
                        <div style="width: 80%; margin-left: 22%; height: 30px; display: flex; margin-top: 3px;">
                            <button v-if="mode == 'multi'" :id="message_idx+'show_all_outputs'" type="button" class="btn btn-default btn-sm" @click="show_all_outputs">显示全部</button>
                            <div v-if="mode != 'multi'" style="width:70px;"></div>
                            <div style="margin-left: 35px; font-size: 15px; margin-top: 5px; margin-right: 5px;">判断: </div>
                            <button :id="message_idx+'_like_human'" type="button" class="btn btn-success btn-sm" style="margin-right: 5px;" @click="like_human">人类</button>
                            <button :id="message_idx+'_like_bot'" type="button" class="btn btn-danger btn-sm" @click="like_bot">机器人</button>
                        </div>
                    </div>
                    <div v-if="message.role == 'loading'" style="height: 20px; text-align: center; margin-bottom: 10px;">
                        <font v-if="mode != 'single'" style="color: gray; font-size: 15px"> 机器人正在思考，请稍等 ...</font>
                        <font v-if="mode == 'single' && selected_single_bot_idx > -1" style="color: gray; font-size: 15px"> {bot_names[selected_single_bot_idx]}正在思考，请稍等 ...</font>
                    </div>
                </div>
            </div>
            <div style="border: 1px solid wight; width: 95%; margin-left: 2%; height: 30%">
                <textarea id="user_input_area" class="form-control" rows="3" style="width: 100%; margin-top: 3%; height: 60%; resize: none; font-size: 20px;" v-model="user_input"></textarea>
                <div style="border: 1px solid wight; width: 40%; float: right; margin-top: 2%; height: 25%; display: flex">
                    <button class="btn" style="font-size: 20px; width: 47%; margin-right: 5%" @click="clear_history">清空</button>
                    <button class="btn btn-primary" style="font-size: 20px; width: 47%" @click="send_message">发送</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // var chat_area = document.getElementById('chat_area');
            // chat_area.scrollTop = chat_area.scrollHeight;
        });
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        vm = new Vue({
            delimiters: ['{', '}'],
            el: '#content',
            data: {
                base_messages: [
                    {role: 'bot', name: 'bot1', message: '这是一段文字', responses: {bot1: {label:""}, bot2: {label:""}, bot3: {label:""}}, label:"", best_response_name: ""},
                    {role: 'bot', name: 'bot3', message: '这是一段文字是一段是一段是一段是一段',  responses: {bot1: {label:""}, bot2: {label:""}, bot3: {label:""}}, label:"", best_response_name: ""},
                    {role: 'user', name: 'user', message: '这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字'},
                    {role: 'bot', name: 'bot2', message: '这是一段文这是一段文字这是一段文字字',  responses: {bot1: {label:""}, bot2: {label:""}, bot3: {label:""}}, label:"", best_response_name: ""},
                    {role: 'bot', name: 'bot3', message: '这是一段这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字文字文字子自己',  responses: {bot1: {label:""}, bot2: {label:""}, bot3: {label:""}}, label:"", best_response_name: ""},
                    {role: 'user', name: 'user', message: '这是一这是这是一段文字文这是一段文字文这是一段文字文一段文字文字'},
                    {role: 'bot', name: 'bot3', message: '这是一段这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字文字',  responses: {bot1: {label:""}, bot2: {label:""}, bot3: {label:""}}, label:"", best_response_name: ""},
                ],
                user_name: "",
                messages: [],
                user_input: "",
                bot_outputs: ['', '', ''],
                is_show_all_outputs: false,
                curr_responses: null,
                curr_showall_turn_idx: -1,
                curr_best_response_name: "",
                mark_label: 0,
                mode: "",
                // for single chat mode
                selected_single_bot_idx: -1,
                bot_names: [],
                bot_info: {},
                bot_order: [],
            },
            watch: {
                messages: function() {
                    this.$nextTick(() => {
                        let ele = document.getElementById('chat_area');
                        ele.scrollTop = ele.scrollHeight;
                    });
                },
                // mark_label: function() {
                //     this.$nextTick(() => {
                //         let ele = document.getElementById('chat_area');
                //         ele.scrollTop = ele.scrollHeight;
                //     });
                // },
                selected_single_bot_idx: function() {
                    if (this.selected_single_bot_idx === -1) {
                        return
                    }
                    this.clear_chat()
                }
            },
            mounted: function () {
                var div = document.getElementById('chat_area')
                div.scrollTop = div.scrollHeight
                title = document.title
                if (title === '单模型对话') {
                    this.mode = 'single'
                } else if (title === '多模型融合') {
                    this.mode = 'multi'
                } else if (title === '群聊') {
                    this.mode = 'group'
                }
                // this.messages = this.base_messages
                user_text = document.getElementById('user_login').innerText
                this.user_name = user_text.substring(5, user_text.length)
                this.get_bot_info()
                if (this.mode === 'group') {
                    for(var i = 0; i < 50; i++) {
                        var self = this
                        (function(i) {
                            setTimeout(function() {
                                console.log(i);
                                last_uttr = ''
                                // if (thselfis.messages.length != 0) {
                                //     last_uttr = self.messages[-1].message
                                // }
                                console.log('123')
                                self.send_group_message(last_uttr)
                            }, (i*1) * 1000);
                        })(i)
                    }
                }
            },
            methods: {
                scrollToBottom: function () {
                    this.$nextTick(() => {
                        var div = document.getElementById('chat_area')
                        div.scrollTop = div.scrollHeight
                    })
                },
                clear_chat: function() {
                    this.messages = []
                    this.user_input = ''
                    this.bot_outputs = ['', '', '']
                    this.is_show_all_outputs = false
                    this.curr_responses = null
                    this.curr_showall_turn_idx = -1
                    this.curr_best_response_name = ""
                },
                get_bot_info: function() {
                    let self = this
                    $.ajax({
                        type: 'POST',
                        url: '/get_bot_info',
                        data: {},
                        async: true,
                        success: function (data) {
                            if (data.status !== 0) {
                            } else {
                                self.bot_info = data.bot_info
                                self.bot_names = data.bot_names
                            }
                        },
                        error: function () {
                            alert("服务器出错了！");
                        }
                    });
                },
                send_group_message: function(msg) {
                    var self = this
                    send_data = {
                        "username": self.user_name,
                        "user_post": msg,
                        "chat_mode": "single"
                    }
                    let index = Math.floor((Math.random() * this.bot_names.length));
                    send_data.single_bot_name = this.bot_names[index]
                    console.log(send_data.single_bot_name)
                    $.ajax({
                        type: 'POST',
                        url: '/send_message',
                        data: send_data,
                        async: true,
                        success: function (data) {
                            if (data.status !== 0) {
                            } else {
                                self.messages.pop();
                                self.messages.push(
                                    {
                                        role: 'bot', 
                                        label: "",
                                        name: data.bot_name, 
                                        message: data.response,
                                        responses: data.responses,
                                        best_response_name: ''
                                    }
                                )
                            }
                        },
                        error: function () {
                            alert("服务器出错了！");
                        }
                    });
                        
                },
                send_message: function() {
                    if (this.messages.length > 0 && this.messages[this.messages.length-1].role == 'loading') {
                        return
                    }
                    if (this.mode === 'single' && this.selected_single_bot_idx == -1) {
                        alert('请先选择你要对话的机器人')
                        return
                    }
                    // 禁止用户发送空字符串
                    if  (this.user_input == 'undefined' || !this.user_input || !/[^\s]/.test(this.user_input)) {
                        return
                    }
                    this.messages.push(
                        {role: 'user', name: 'user', message: this.user_input}
                    )
                    // names = ['bot1', 'bot2', 'bot3']
                    let index = Math.floor((Math.random() * this.bot_names.length));
                    if (this.mode === 'single') {
                        index = this.selected_single_bot_idx
                    }
                    let response_name = this.bot_names[index]
                    if (response_name !== null && this.mode !== 'chat') {
                        this.messages.push(
                            {role: 'loading'}
                        )
                        var self = this
                        send_data = {
                            "username": self.user_name,
                            "user_post": self.user_input,
                            "chat_mode": self.mode
                        }
                        if (this.mode === 'single') {
                            send_data.single_bot_name = this.bot_names[this.selected_single_bot_idx]
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/send_message',
                            data: send_data,
                            async: true,
                            success: function (data) {
                                if (data.status !== 0) {
                                } else {
                                    self.messages.pop();
                                    self.messages.push(
                                        {
                                            role: 'bot', 
                                            label: "",
                                            name: data.bot_name, 
                                            message: data.response,
                                            responses: data.responses,
                                            best_response_name: ''
                                        }
                                    )
                                }
                            },
                            error: function () {
                                alert("服务器出错了！");
                            }
                        });
                        
                    }
                    this.user_input = ''
                },
                clear_history: function() {
                    this.clear_chat()
                },
                show_all_outputs: function(e) {
                    id = e.srcElement.id
                    turn_idx = parseInt(id.substring(0, id.length-16))
                    this.curr_responses = this.messages[turn_idx].responses
                    // if (turn_idx !== this.curr_showall_turn_idx) {

                    // }
                    this.curr_showall_turn_idx = turn_idx
                    this.is_show_all_outputs = true
                },
                change_mark_label: function() {
                    if (this.mark_label == 0) {
                        this.mark_label = 1
                    } else {
                        this.mark_label = 0
                    }
                },
                like_human: function(e) {
                    id = e.srcElement.id
                    turn_idx = parseInt(id.substring(0, id.length-11))
                    // alert('第' + turn_idx + '轮对话：更像人类')
                    this.messages[turn_idx].label = "human"
                    this.change_mark_label()
                },
                like_bot: function(e) {
                    id = e.srcElement.id
                    turn_idx = parseInt(id.substring(0, id.length-9))
                    // alert('第' + turn_idx + '轮对话：更像机器人')
                    this.messages[turn_idx].label = "bot"
                    this.change_mark_label()
                },
                like_human_left: function(e) {
                    id = e.srcElement.id
                    name = id.substring(0, id.length-11)
                    // alert('第' + turn_idx + '轮对话，机器人' + name + '的回复像人类')
                    this.messages[this.curr_showall_turn_idx]['responses'][name].label = "human"
                },
                like_bot_left: function(e) {
                    id = e.srcElement.id
                    name = id.substring(0, id.length-9)
                    // alert('第' + turn_idx + '轮对话，机器人' + name + '的回复像人类')
                    this.messages[this.curr_showall_turn_idx]['responses'][name].label = "bot"
                },
                best_response: function(e) {
                    id = e.srcElement.id
                    idx = parseInt(id.substring(0, id.length-5))
                    this.messages[this.curr_showall_turn_idx].best_response_name = this.bot_names[idx];
                    // alert('第' + turn_idx + '轮对话的最佳回复来自机器人' + this.curr_best_response_name + ' !')
                }
            },
        });

    </script>
</body>
</html>